name: Crates.io

on:
  repository_dispatch:
    types: [release]

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    # if: "startsWith(github.ref, 'refs/tags/')"
    steps:
      - uses: actions/checkout@v3
      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install xmllint
        run: |
            sudo apt update
            sudo apt-get install -y libxml2-utils
      - name: Login to crates.io
        uses: actions-rs/cargo@v1
        with:
          command: login
          args: ${{ secrets.CRATES_TOKEN }}
      - name: Cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Publish to crates.io
        uses: actions-rs/cargo@v1
        with:
          command: publish
